.login-modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 642px;
    border-radius: 200px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    /* align-items: center; */
}

.login-form > input {
    width: 250px;
    height: 40px;
    border-radius: 13px;

}
