.login-modal-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 30px;
    align-items: center;
    width: 484px;
    height: 500px;
    border-radius: 200px;
    gap: 20px
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    /* align-items: center; */
}

.login-form > label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.login-form > input {
    width: 250px;
    height: 30px;
    border-radius: 13px;
    border: 2px solid rgb(210, 210, 210);
    padding: 10px
}

.login-form > input::placeholder {
    text-indent: 0px;
    font-size: 18px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navlogo-login {
    width: 59px;
    height: 59px;
    position: relative;
    display: flex;
    left: 8px
}

.login-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.login-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 7px
}

.login-buttons-container > button {
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
}



.login-buttons-container > div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#login-submit-button {
    background-color: red;
}

#demo-user-submit-button {
    background-color: rgb(1, 100, 248);
}

#login-submit-button:hover {
    background-color: rgb(220, 5, 5);
    cursor: pointer;
}

#demo-user-submit-button:hover {
    background-color: rgb(2, 92, 226);
    cursor: pointer;
}
