.profile-dropdown {
  position: absolute;
  z-index: 1;
  border: solid black 1px;
  background-color: white;
}

.hidden {
  display: none;
}

#navlogo {
  width: 24px;
  height: 24px
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbar-left-section-container {
  display: flex
}

.profile-button-box {
  display: flex;
  position: relative;
  right: 100px
}
