.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#navlogo {
  width: 24px;
  height: 24px
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
}

.navbar-left-section-container {
  display: flex
}

.profile-button-box {
  display: flex;
  position: relative;
  right: 100px
}
