.profile-dropdown {
  position: absolute;
  z-index: 1;
  border: solid black 1px;
  background-color: white;
}

.hidden {
  display: none;
}

#navlogo {
  width: 39px;
  height: 39px;
  position: relative;
  display: flex;
  left: 8px

}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 15px;
  max-width: 100%;
  max-height: 100%;
  gap: 70px
}

.navbar-left-section-container {
  display: flex;
  gap: 12px;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
}

.profile-button-box {
  display: flex;
  position: relative;
  right: 100px
}

.home-button {
  /* border: 2px solid red; */
  width: 75px;
  height: 45px;
  border-radius: 25px;;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.create-button {
  /* border: 2px solid red; */
  width: 60px;
  height: 45px;
  border-radius: 25px;;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.create-button:hover {
  cursor: pointer;
}

.create-buttons-container {
  display: flex;
  flex-direction: row;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
}

.home-button-active {
  background-color: black;
}

.home-text {
  color: inherit
}

.home-text-active {
  color: white
}


.navbar-center {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

.create-dropdown {
  position: absolute;
  z-index: 1;
  /* border: solid black 1px; */
  background-color: white;
  left: 160px;
  top: 65px;
  width: 145px;
  display: flex;
  /* justify-content: center; */
  height: 50px;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.create-pin-button {
  display: flex;
  position: relative;
  left: 7px;
  width: 112px;
  border-radius: 10px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.create-pin-button:hover {
  background-color:  #e0e0e0;
}

.signup-login-button-container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  gap: 10px;
}

.nav-signup-button {
  background-color: rgb(235, 233, 233);
  width: 80px;
  height: 45px;
  border-radius: 25px;
  color: black;
  border: white;
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-login-button {
  background-color: rgb(230, 0, 35);
  width: 80px;
  height: 45px;
  border-radius: 25px;
  color: white;
  border: white;
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-signup-button:hover {
  cursor: pointer;
  background-color: rgb(219, 215, 215);

}

.nav-login-button:hover {
  cursor: pointer;
  background-color: rgb(190, 0, 35);
}











.profile-button-container {
  position: relative;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  position: relative;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #e46bb7;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 1px white;
}


.nav-profile-section-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* width: 100px; */
  /* border: 2px solid red; */
  /* height: 50px; */
  justify-content: center;
  align-items: center;
}

.profile-dropdown-container {
  display: flex;
  /* border: 2px solid red; */
  width: 25px;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding-top: 1px;
  border-radius: 20px;
}

.profile-dropdown-container:hover {
  cursor: pointer;
  background-color: #ebeced;
}

.profile-arrow-dropdown {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;
  top: 50px;
  right: 2px;
  position: absolute;
  width: 215px;
  background-color: white;
  height: 115px;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.nav-profile-arrow-dropdown-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  gap: 10px
}

.logout-dropdown-button {
   font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* border: 2px solid red; */
  width: 100%;
  height: 30px;
  display: flex;
  /* justify-content: center; */
  border-radius: 8px;
  padding-left: 10px;
  position: relative;
  right: 5px;
  top: 5px;
  align-items: center;
}

.logout-dropdown-button:hover{
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.dropdown-profile-button {
   display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  position: relative;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #e46bb7;
  /* border: 2px solid black; */
  border: none;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  /* box-shadow: inset 0px 0px 0px 1px white; */
}

.currently-in {
  font-size: 11px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-username {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.dropdown-profile-type {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: rgb(95, 94, 94);
}

.dropdown-email {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: rgb(95, 94, 94);
}
