.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pboard-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}
.pboard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.single-pboard {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
}

.single-pboard img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}




.empty {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 20px;
    transition: .4s;
    margin-top: 20px;
}

.empty:hover {
    filter: brightness(50%);
}

.scontent {
    position: absolute;
    font-size: 25px;
    color: white;
    background: rgba(0,0,0, .6);
    opacity: 0;
    transition: 0.6s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.scontent i {
    position: absolute;
    color: white;
    right: 20px;
    top: 10px;
    padding: 5px;
    transition: .4s;
}

.scontent i:hover {
    font-size: 30px;
}

.scontent:hover {
    opacity: 1;
}

.my-pins-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.my-pins-button:hover {
    background-color: rgb(228, 228, 228);
}
